/* Class names prefixes */
$prefix: 'gjs-' !default;

/* Colors / Theme */
$primaryColor: #373d49;
$secondaryColor: #a0aabf;
$tertiaryColor: #4c9790;
$quaternaryColor: #35d7bb ;

$styleManagerHeight:9.5rem;
$traitManagerHeight: 1.5rem;
$topPanelHeight: $styleManagerHeight + $traitManagerHeight + 3.9rem;