@import "variables.scss";

.main-body {
  padding: 5px;
  width: 100%;
  // height: 100%;
  // background-color:rgb(234, 236, 237);
}
.row {
  vertical-align: top;
}
.container {
  font-family: Helvetica, serif;
  min-height: 150px;
  padding: 5px;
  margin: auto;
  height: 0px;
  width: 90%;
  max-width: 75rem;
}

.card {
  min-height: 150px;
  padding: 5px;
  margin-bottom: 20px;
  height: 0px;
  width: 100%;
}

.card.sector {
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  border-collapse: separate;
}
.card-cell {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 3px;
  padding: 0;
  text-align: center;
}

.footer {
  margin-top: 50px;
  color: rgb(152, 156, 165);
  text-align: center;
  font-size: 11px;
  padding: 5px;
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  height: calc(100vh - #{$topPanelHeight});
}

/* We tell all items to be 100% width, via flex-basis */
// .wrapper > * {
//   flex: 1 100%;
// }

/* Medium screens */
@media all and (min-width: 600px) {
  /* We tell both sidebars to share a row */
  .aside {
    flex: 1 1;
  }
}

/* Large screens */
@media all and (min-width: 800px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars 
   */
  .main {
    flex: 5 1;
  }
  .aside-1 {
    order: 1;
  }
  .main {
    order: 2;
  }
  .aside-2 {
    order: 3;
  }
  .footer {
    order: 4;
  }
}

.gjs-blocks-cs,
.gjs-layer {
  // position: absolute;
  height: 100%;
  background-color: $primaryColor;
}

.gjs-cv-canvas {
  background-color: rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  // bottom: 0;
  overflow: hidden;
  // z-index: 1;
  // position: absolute;
  // left: 0;
  top: 0;
  text-shadow: 0 0 black;

  &__frames {
    margin: 10px;
  }
}

.panel__top {
  display: flex;
  padding: 0;
  width: 100%;
  align-content: flex-start;
  flex-direction: column;
  // height: $topPanelHeight;

  .panel__basic-actions {
    flex-direction: row;
    display: flex;

    width: 100%;
    justify-content: space-between;
    padding: 0;

    .panel__basic-actions-1 {
      justify-content: flex-start;
      padding: 0;
    }
    .panel__basic-actions-2 {
      justify-content: flex-end;

      padding: 0;
    }
  }

  .panel__toolbar {
    width: 100%;
    justify-content: space-between;
  }
}

#style-manager-menu {
  text-align: left;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  a {
    margin-right: 5px;
    line-height: 21px;
    padding: 9px;
    font-family: Arial, Helvetica, sans-serif, FontAwesome;
    font-size: 1.6ch;
    height: 100%;
    &.active {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

#style-manager-container {
  display: block;

  #gjs-sm {
    &-width,
    &-height,
    &-max-width,
    &-min-height,
    &-top,
    &-left,
    &-right,
    &-bottom,
    &-border-radius,
    &-background-color,
    &-color,
    &-border-color,
    &-border-width,
    &-border-style,
    &-transform-rotate-x,
    &-transform-rotate-y,
    &-transform-rotate-z,
    &-transform-scale-x,
    &-transform-scale-y,
    &-transform-scale-z  {
      max-width: 20ch;
    }

    &-text-align,
    &-display,
    &-font-family,
    &-font-weight,
    &-font-size,
    &-line-height,
    &-letter-spacing,
    &-border-top-left-radius,
    &-border-top-right-radius,
    &-border-bottom-left-radius,
    &-border-bottom-right-radius{
      max-width: 30ch;
    }

    &-float,
    &-position {
      max-width: 50ch;
    }

    &-box-shadow,
    &-background,
    &-border {
      max-width: 75ch;
    }

    &-border-radius {
      max-width: 140ch;
    }
  }

  .gjs-sm-sectors,
  .gjs-sm-open {
    display: flex;
    flex-direction: row;
    height: 10rem;
  }

  .gjs-sm-sectors {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .gjs-sm-sector {
    flex-direction: column;
    width: 100vw;
  }

  .gjs-sm-title {
    font-size: 1.6ch;
    font-family: Arial, Helvetica, sans-serif, FontAwesome;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: none;
    letter-spacing: unset;
    display: None;

    #gjs-sm-caret {
      display: none;
    }
  }
  .gjs-sm-properties {
    left: 0;
    align-items: stretch;

    .gjs-sm-general > & {
      flex-wrap: wrap;
    }
    .gjs-sm-label {
      width: 30ch;
    }

    .gjs-fields {
      .gjs-field {
        margin-top: 5px;
      }
    }
  }
}

#gjs-sm {
  &-layout,
  &-decorations,
  &-extra,
  &-border-decorations {
    .gjs-sm-properties {
      flex-wrap: nowrap;
    }
  }
}

.gjs-trt-traits {
  display: flex;
  flex-direction: row;
  &__wrp {
    justify-content: flex-start;
  }
}

.gjs-pn-btn {
  position: unset;
  font-size: 1.6ch;
  font-family: Arial, Helvetica, sans-serif, FontAwesome;
  border-radius: none;
  &.gjs-pn-active {
    box-shadow: none;
  }
}
.gjs-pn-panel {
  position: static;
}

.#{$prefix} {
  @each $cnum, $ccol in (one, $primaryColor), (two, $secondaryColor),
    (three, $tertiaryColor), (four, $quaternaryColor)
  {
    &#{$cnum} {
      &-bg {
        background-color: $ccol;
      }

      &-color {
        color: $ccol;

        &-h:hover {
          color: $ccol;
        }
      }
    }
  }
}

@import "../blocks/style.scss";
